extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner WHATABYTE
    div.Message
      div.Title
        h3 PORTAL
        h1 WELCOME
      span.Details Access the Portal
    div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton Dive in!
      else
        a(href="/login")
          div.NavButton Log in
